<div class="container py-3">
  <div class="form-group">
    <ngx-credit-cards
      [hideName]="false"
      [namePlaceholder]="'Enter Name'"
      [backDescriptionText]="'This card remains a property of my bank'"
    ></ngx-credit-cards>
    <div class="container">
      <div class="form-group">
        <label for="">Name:</label>
        <input class="form-control" ngxCardName (nameChange)="checkNumber($event)" type="text">
      </div>
      <div class="form-group">
        <label for="">No:</label>
        <input class="form-control" ngxCardNo (numChange)="checkNumber($event)" type="text">
      </div>
      <div class="form-group">
        <label for="">Expiry:</label>
        <input class="form-control" ngxCardExpiry (cvvChange)="checkNumber($event)" type="text">
      </div>
      <div class="form-group">
        <label for="">Cvv:</label>
        <input class="form-control" ngxCardCvv (expiryChange)="checkNumber($event)" type="text">
      </div>
    </div>
  </div>
</div>